@media (max-width: 500px) {
  .header-story-blog {
    margin-top: 60px;
    width: 100%;
    overflow: auto;
    border-radius: 10px;
  }
  .header-story-blog::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .story-block {
    margin-top: 0;
  }

  .create-entry {
    display: none;
  }

  .entry-wrapper {
    position: relative;
  }

  .header-story-blog,
  .entry-wrapper {
    width: 85%;
  }

  .entry-img {
    width: 100%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
