.header-story-blog {
  display: flex;
  width: 600px;
  column-gap: 13px;
  margin: 0 auto;
}

.story-block {
  position: relative;
  margin-top: 60px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
}

.story-block img {
  border-radius: 10px;
}

.story-name {
  position: absolute;
  top: 14px;
  left: 14px;
}

.date {
  position: absolute;
  top: 169px;
  left: 63px;
}

.create-entry {
  display: flex;
  align-items: center;
  background: #121212;
  border-radius: 5px;
  width: 590px;
  height: 74px;
  margin: 30px auto 0 auto;
}

.create-entry input {
  width: 470px;
  background: none;
  border: none;
  height: 100%;
}

.entry-btn {
  border-radius: 100px;
  height: 44px;
  width: 54px;
  background: none;
  width: 46px;
  border: none;
}

.entry-wrapper {
  position: relative;
  width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  background: #202020;
  border-radius: 5px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
}

.entry-img {
  min-width: 100%;
  border-radius: 7px;
  height: auto;
}

.entry-text {
  display: inline-block;
  margin: 15px 26px 0 26px;
}

.date-wrapper {
  height: 45px;
}

.entry-date,
.entry-themes {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  color: #828282;
  margin: 0;
}

.entry-date {
  margin-left: 25px;
}

.page-nav {
  width: 240px;
  display: flex;
  justify-content: space-between;
  margin: 80px auto;
}

.page-nav-btn {
  width: 40px;
  height: 40px;
  background: #0D0D0D;
  border: none;
  transition: all .2s;
}

.page-nav-btn:hover {
  background: #104BE3;
}