* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  color: #fff;
  background: #181818;
  overflow-x: hidden;
}

main {
  margin-left: 300px;
}

button {
  color: #fff;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #fff;
}

a:visited {
  color: #fff;
}
